.navbar-default{
    border-bottom: 3px solid  #1F9AB6;
    background-color:#fff;
}
.navbar{
    margin-bottom: 0;
}
.logo{
    margin-top:6px;
}

.container{
    margin-top:7px;
}



/*
        Primary Button and Download Button
*/
.btn-primary{
    background-color:#1F9AB6;
    border:none;
    border-radius:20px;
    color:#fff;
    font-weight:600;
}

.navbar-default .navbar-nav>li>a{
    color:#000000;
    font-weight:600;
    font-style: bold;
}

body{
    background-color:#fff;
}



.front-image-pragmatic{
    background-color:#000000;
}



/*
    Menu Navigation Header
    Structure: 
    0.Main-navigation - Header
    1.Sub-Menu-Navigation 
*/


/* 1. Sub-Menu Design */
#menu-navigation{
    margin-top: 14px;
}
#menu-navigation ul li {
    list-style: none;
    background:#ffffff;
}

#menu-navigation ul li a:hover {
    color:#1F9AB6;
}






/* 1. Sub-Menu Design */

#menu-navigation ul ul{
    margin:0;
    padding:20px 0px;
    display:none;
    width:200px;
}

#menu-navigation ul ul li:first-child{
    border-top:4px solid #1F9AB6;

}
#menu-navigation ul ul li{
    padding:10px 20px;
}
#menu-navigation ul li ul li a{
    text-decoration: none;
    color:#000000;
    font-weight:600;
    font-style: bold;
}

#menu-navigation ul li:hover ul{
    display:block;
    margin:0;
    padding-bottom:20px;
    position: absolute;
}



/* Block content Left block and Right Block */
.pharagraph{
    width:50%;
    margin:auto auto;
}