
.navbar{
    border: none; 
    margin-bottom: 0;
    z-index: 999;
}
.navbar-default{
    border-bottom: 3px solid  #1ba5c3;
    background-color:#fff;
}
.logo{
    margin-top:6px;
}

.container{
    margin-top:7px;
}

.screenshoot-index{
    position: static;
    -webkit-transition: all 0.5s ease-out;
}
.screenshoot-index:hover img{
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border:5px solid #1ba5c3;

}
/*
.active{
    background-color:#1ba5c3;
    border:1px solid #1ba5c3;
}*/

/*
    Menu Navigation Header
    Structure: 
    0.Main-navigation - Header
    1.Sub-Menu-Navigation 
*/


/* 1. Sub-Menu Design */
#menu-navigation{
    margin-top: 14px;
}
#menu-navigation ul li {
    list-style: none;
    background:#ffffff;
    color:#333;
}

#menu-navigation ul li a:hover {
    color:#1ba5c3;
}






/* 1. Sub-Menu Design */

#menu-navigation ul ul{
    margin:0;
    padding:20px 0px;
    display:none;
    width:200px;
}

#menu-navigation ul ul li:first-child{
    border-top:4px solid #1ba5c3;

}
#menu-navigation ul ul li{
    padding:10px 20px;
}
#menu-navigation ul li ul li a{
    text-decoration: none;
    color:#333;
    font-weight:600;
    font-style: bold;
}

#menu-navigation ul li:hover ul{
    display:block;
    z-index:1;
    margin:0;
    padding-bottom:20px;
    position: absolute;
}



/*
        Primary Button and Download Button
*/
.btn-primary,
.btn-primary span{
    background-color:#1ba5c3;
    border:none;
    border-radius:20px;
    color:#fff;
    font-weight:600;
    border:  2px solid #1ba5c3 ;
}
.download-button:hover a{
    color:#1ba5c3;
}

.btn-primary onhover{
    display:none;
}
.btn-primary:hover show{
    display: none;
}
.btn-primary:hover onhover{
    display: inherit;
}

.btn-primary:hover,
.btn-primary:hover span{
    border:  2px solid #1ba5c3 ;
    color:#1ba5c3;
    background:#fff;
    transition: background-color 0.5s ease-in,  border-color 0.7s;
    -webkit-transition:  background-color 0.5s ease-in,  border-color 0.7s;
    -o-transition: background-color 0.5s ease-in,  border-color 0.7s;
    -moz-transition:  background-color 0.5s ease-in,  border-color 0.7s;
}
.btn-primary:hover span{
    border:none;
}

.navbar-default .navbar-nav>li>a{
    color:#000000;
    font-weight:600;
    font-style: bold;
}
.navbar-nav>li:last-child>a{
    color:#fff;
    margin-top:7px;
    padding:7px 15px;
}
body{
    background-color:#fff;
    color:#666;
}



.front-image-pragmatic{
    padding-top:50%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
/**
    Team Member
**/
.pragmatic-hr{
    border-top: 1px solid #1ba5c3;
}

.team td:first-child{
    width:110px;
    text-align:right;
    font-size:0.9em;
    font-weight:bold;
}

.team td:nth-child(2){
    font-size:0.9em;

}
/* Block content Left block and Right Block */
.pharagraph{
    width:65%;
    margin:auto auto;
    padding-top:5px;
    padding-bottom:25px;
}
.right-block{
    margin-top: -50px;
    min-height: 350px;
    background:#1ba6c4;
    color:#fff;
    border-radius:50px 0 0 0;
}
.right-block h2,
.left-block h2{
    padding-top:10px;
}

.left-block{
    margin-top: -50px;
    min-height: 350px;
    color:#000;
    border-radius:0 50px 0 0;
    background-color:#eeeeee;
}
.blocks{
    background-color:transparent;
}

.header-block{
    padding-top:50px;
    padding-bottom: 100px;
    color:#666666;
    font-weight: 600;
}


/**
  Feature 
**/
.icon-feature{
    color:#2072b5; 
    border:8px #2072b5 solid; 
    border-radius:50%; 
    padding:15px;
}
.feature-list{
    padding-top:10px;
    padding-bottom:10px;
}
.feature-list h2,
.feature-list a{
    text-decoration: none;
    font-weight: 600; 
    color:#333;
}


/**
  Footer 
**/

.footer{
    padding:40px;
    background:#2d2d2d;
    color:#fff;
    font-size:0.9em;
}

/**
        Title of pages Tempalte
**/
.header-page{
    background:#1ba5c3;
    font-weight: 700;
    color:#fff;
    padding-top:8px;
    padding-bottom:20px;
}



/**
    History logs 
**/

.history-logs{
    list-style: none;
    padding-left:12px;
}
.history-logs li{
    padding:8px;
    display:flex;
}
.history-logs li div:nth-child(2){
    color:#1ba5c3;
    padding-left:5px;
    margin-top:3px;
}

.history-logs-date{
    display:inline-block;
    min-width: 50px;
    font-size:1.4em;
    font-weight:bold;
    margin-top:-4px;
}
.history-logs-title{
    padding-left:8px;
    font-size:1.0em;
}

/**
 Blog List
**/
.list-blog a{
    color:#333;

}
.list-blog a:hover{
    text-decoration: none;
}




/**
   Forum Category & Thread List
**/
.forum-list > div{
    border-left:4px solid #1ba5c3;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
}
.forum-list div:first-child{
    border:none;    
}
.forum-list > div:first-child:hover,
.forum-list > div:first-child:hover div{
    background:none;
}
.forum-list div:hover{
    background:#1ba5c3;
}
.forum-list div:hover a,
.forum-list div:hover p{
    color:#fff;
    text-decoration:none;
}
.forum-list div p{
    color:#666;
}
.forum-list div span{
    margin-top:20px;
}


.forum-notify-box{
    padding:15px;
    padding-top:8px;
    padding-left:30px;
    border-top: 2px solid #ffd63f;
    border-bottom: 2px solid #ffd63f;
}
.forum-notify-box a{
    color: inherit;
    text-decoration:none;
}

.forum-thread-header{
    border-bottom:2px solid #1ba5c3;
    padding: 10px 20px;
}

.post_author{
    background:none;
}

/** 

General Changes Forums

**/
.panel-primary{

    border: 1px solid #ccc;
}
.panel-primary>.panel-heading{
    background:none;
    color:inherit;
    border-bottom: 2px solid #1ba5c3;
}
.panel-primary>.panel-heading h4{
    font-weight: bold;

}
.panel-title{
    font-size: inherit;
}
.panel-body{
    padding-left:30px;
    padding-right:30px;
}

.download-links{
    color:#666;
    border:  2px solid #fff ;
    height: 300px;
    padding:20px;
}
.download-links a{
    color:#1ba5c3;
}
.download-links a:hover{
    text-decoration: none;
}
.download-links:hover{
    background-color:#fff;
    border-radius:20px;
    color:#1ba5c3;
    border: 2px solid #1ba5c3 ;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.get-help,
.get-help a{
    color:#333;
}
.get-help h4{
    font-weight: bold;
}
.get-help a:hover{
    text-decoration: none;
}
.get-help a p{
    color: #666;
}

/**

**** WIKI ***

**/
pre{
    background:#ebf1f5;
    border-color:#bcd;
    border-radius:0px;
    padding: 1em;
}

